/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-0_Golem_Running_000 {
  background-image: url(sprite.png);
  background-position: -900px 0px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_001 {
  background-image: url(sprite.png);
  background-position: 0px -1800px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_002 {
  background-image: url(sprite.png);
  background-position: 0px -900px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_003 {
  background-image: url(sprite.png);
  background-position: -900px -900px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_004 {
  background-image: url(sprite.png);
  background-position: -1800px 0px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_005 {
  background-image: url(sprite.png);
  background-position: -1800px -900px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_006 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_007 {
  background-image: url(sprite.png);
  background-position: -900px -1800px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_008 {
  background-image: url(sprite.png);
  background-position: -1800px -1800px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_009 {
  background-image: url(sprite.png);
  background-position: -2700px 0px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_010 {
  background-image: url(sprite.png);
  background-position: -2700px -900px;
  width: 900px;
  height: 900px;
}
.icon-0_Golem_Running_011 {
  background-image: url(sprite.png);
  background-position: -2700px -1800px;
  width: 900px;
  height: 900px;
}
