.gameBackground {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 540px;
  background: url('../public/Canvas2DGame/backgroundLayers/gameBackground.jpg') no-repeat center center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.UI {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img {
    max-width: 100%;
    max-height: 180px;
  }
}
.canvas {
  border: 5px solid azure;
  max-height: 100%;
  max-width: 100%;
}
.fullScreenButton {
  cursor: pointer;
  align-self: center;
  height: 50px;
  width: 80px;
  border: 2px outset #d1d1d1;
  border-radius: 9px;
  background-color: #e5e5e5;
  margin-left: 40px;
  font-weight: 600;
}
.spaceText {
  position: absolute;
  top: 57px;
  right: 49px;
  font-weight: bold;
  font-size: 16px;
}
.gamesMenu {
  display: flex;
  flex-direction: column;
  font-family: 'Bangers', cursive;
  header {
    font-size: 65px;
    align-self: center;
    margin-bottom: 50px;
    color: darkorange;
  }
}
@media screen and (max-width: 600px) {
  .fullScreenButton {
    font-size: 9px;
    height: 30px;
  }
}